body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainComponentDiv {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
}

.inputField {
  width: 65%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.inputField:focus {
  border-color: #4caf50;
}

.AddTaskButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.AddTaskButton:hover {
  background-color: #2980b9;
}

.tasksList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.task {
  background-color: #ffffff;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.taskText {
  flex-grow: 1;
}

.classRemoveButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 3px 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 0.5s ease-in-out;
}

.classRemoveButton:hover {
  background-color: #d32f2f;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.inputData{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}